# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
.gitignore
# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# dotenv environment variables file
.env

access.log

build/
Procfile
emailSent.html

ordersImage.jpg