.DropEnter {
   opacity: 0;
   transform: translateY(10%);
}

.DropEnterActive {
   opacity: 1;
   transform: translateY(0%);
   transition: all 0.3s ease;
}

.DropExit {
   opacity: 1;
}

.DropExitActive {
   opacity: 0;
   transform: translateY(10%);
   transition: all 0.3s ease;
}

/* BACKGROUND */
.BackgroundEnter {
   opacity: 0;
}

.BackgroundEnterActive {
   opacity: 1;
   transition: all 0.3s ease;
}

.BackgroundExit {
   opacity: 1;
}

.BackgroundExitActive {
   opacity: 0;
   transition: all 0.3s ease;
}
