
<html lang='en'>
   <head>
      <meta charset='UTF-8' />
      <meta http-equiv='X-UA-Compatible' content='chrome' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <title>Register email</title>
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); @media(max-width:
         960px) { .inner-box{ width: 90%; min-height: 65vh; } .linkToConfirm{ font-size: .8rem; } footer a{
         color: #fca311; } } /*:root { --main-bg: #bfc0c0; --box-color: #FFF; --link-color: #fca311;
         --footer-bg: #14213d; }*/
      </style>
      <style>

      </style>
      <style>
         body{ margin: 0; font-family: 'Work Sans'; } .linkToConfirm{ color: #fca311; text-decoration: none;
         padding: .45rem; border: 1px solid #fca311; font-size: 1.35rem; border-radius: 5px; }
         h1,h2,h3,h4,h5,h6{ margin: .75rem 0; }
      </style>
      <style>
         .container{ width: 100%; min-height: 100vh; background-color: #bfc0c0; display: flex; align-items:
         center; justify-content: center; }
      </style>
      <style>
         .main-title{ font-size: 2rem; margin: .5rem 0 3rem 0; text-align: justify; } .inner-box{ width: 35%;
         height: 80%; background-color: #FFF; border-radius: 5px; display: flex; flex-direction: column;
         align-items: center; justify-content: space-between; }
      </style>
      <style>
         .content{ width: 90%; overflow-wrap: break-word; } .highlight{ color: #fca311; } .main-title{
         text-align: center; margin: 1rem 0; text-transform: uppercase; } .line-divider{ border: 1px solid
         #333; width: 100%; } .top-info{ width: 100%; display: flex; flex-direction: row; justify-content:
         space-around; font-size: .85rem; }
      </style>
      <style>
         .body-container{ width: 80%; margin: auto; display: flex; flex-direction: column; align-items:
         center; }
      </style>
      <style>
         .products-list{ display: flex; flex-direction: column; margin: 0 auto; } .product{ width: 100%;
         height: 180px; display: flex; align-items: center; } .left-image{ width: 35%; height: 100%;
         object-fit: contain; } .right-contnent{ width: 65%; padding: 0 .65rem; } .price-footer{ width: 70%; }
      </style>
      <style>
         footer a{ text-decoration: none; color: #FFF; font-size: 1.3rem; transition: color .25s linear; }
         footer a:hover{ color: #fca311; } footer{ width: 100%; padding: 1.65rem 0; background-color: #14213d;
         color: #FFF; text-align: center; }
      </style>
   </head>
   <body>
      <section class='container'>
         <div class='inner-box'>
            {{{body}}}
            <footer>
               <h2>ComputerStore Webáruház</h2>
               <a href='https://www.linkedin.com/in/tam%C3%A1s-nagy-27355116b/' target='_blank'>Készítette
                  &copy; Nagy Tamás</a>
            </footer>
         </div>
      </section>
   </body>
</html>