.NavEnter {
   opacity: 0.5;
   transform: translateX(-100%);
}

.NavEnterActive {
   opacity: 1;
   transform: translateX(0%);
   transition: all 0.35s ease;
}

.NavExit {
   opacity: 1;
}

.NavExitActive {
   opacity: 0.5;
   transform: translateX(-100%);
   transition: all 0.35s ease;
}
